.mainBackground {
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../public/image/gray.jpg");
  background-size: cover;
  background-color: #000;
  cursor: none;
  overflow: hidden;
}
.mainBackgroundBlur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
}

.cursor {
  width: 1.2rem;
  height: 1.2rem;
  border: 1.5px solid rgba(73, 153, 132);
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(100%);
  background-size: cover;
  background-color: rgba(213, 236, 230, 0.1);
} 

.left-menu {
  height: 100%;
  width: 150;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
.left-menu-item {
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  color: ivory;
  display: block;
  transition: 0.3s;
}
.left-menu-item-content {
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  color: ivory;
  display: block;
  transition: 0.3s;
}
.left-menu-item-content:hover {
  text-decoration: solid underline rgb(64, 138, 118) 3px;
}
.left-menu-item-ivory {
  color: ivory;
}
.left-menu-item-deco {
  text-decoration: solid underline rgb(64, 138, 118) 3px;
}
.left-menu-item:nth-child(1) {
  color: rgb(73, 153, 132);
}

.left-menu-item-content:nth-child(1){
  color: rgb(73, 153, 132);
}